{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>投稿日時: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>提出期限: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>状態: 完了</li>
      {% else %}
      <li>状態: 未完了</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index_ja' %}">トップ</a>
      | <a href="{% url 'update_ja' task.id %}">編集</a>
      | <a href="{% url 'delete_ja' task.id %}">削除</a>
      | <a href="{% url 'close_ja' task.id %}">完了</a>
    </div>
  </body>

</html>