{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/style.css'%}">
  </head>

  <body>
    <h1>課題内容の編集</h1>
    <p>以下のフォームからタスクを編集することができます。</p>
    <form action="{% url 'update_ja' task.id%}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">課題名</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title" value="{{ task.title }}">
      </div>
      <div>
        <label for="dueInput">提出期限:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at |date:"Y-m-d H:i" }}">
      </div>
      <div>
        <button type="submit">編集</button>
      </div>
    </form>
    <br>
  </body>

</html>